{% extends 'basic.html' %}


{% block title %} History{% endblock %}


 {% block body %}
     {% load static %}

      <div class ="container">
       {% for i in songs %}
    <div class="card mb-3", style="max-width: 940px; padding-top:3%;">
              <div class="row no-gutters">
              <div class="col md-4">
                <img src="/{{ i.image }}" class="card-img" style="height: 264px; width :469px;" >
              </div>
              <div class="col md-8">
                  <div class="'card-body" style="padding-left:5%;">
                      <h5 class = "card-title" style ="color:gold ; font-weight: bold;">{{ i.name }}</h5>
                      <p class="card-text" >{{ i.tags }}</p>
                      <a href="/musicbeats/song/{{ i.song_id }}"><button class="btn btn-outline-danger">Listen Song</button></a>
                  </div>

              </div>
              </div>
     </div>

{% endfor %}


{% endblock %}



