{% extends 'basic.html' %}


{% block title %}{{ song.name }}{% endblock %}


{% block body %}

    {% if context.message %}
        <script>
          Swal.fire({
          position: 'top-end',
          icon: 'success',
          title:'{{context.message}}',
          showConfirmButton: false,
          timer: 1500
          })
       </script>

    {% endif %}


    <div style ="background-image:url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');
  /* Full height */
  height: 700px; width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

">
<div class ="container">
           <div class="row" >
               <div class="col-md-6" style="padding-top:3%;">
                   <img src="/{{song.image}}" alt="cover pic" width="500px" height="350px">
               </div>
               <div class="col-md-6" style="padding-top:3%;">
                   <h2 style="padding-left: 15%; color: gold; font-weight:bolder;">{{song.name}}</h2>
                   <h5 style="padding-left: 15%;">({{song.tags}})</h5>
                   <h5 style="padding-left: 15%;">{{song.singer.title}}</h5>
                   <audio controls style="padding-top: 2%; padding-left: 5%" preload="auto">
                       <source src="/{{ song.song }}" type="audio/mp3">
                   </audio>
                   <div class="container" style="padding-top:3%;padding-left:5% ">
                       <form action="/musicbeats/song/{{song.song_id}}" method="POST">{% csrf_token%}
                           <button type="submit" class="btn btn-outline-danger">Listen Later</button>
                       </form>

                   </div>

               </div>

           </div>
       </div>
   </div>

{% endblock %}